name: Terraform Tests

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run Terraform Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Terraform min/max versions
        id: minMax
        uses: clowdhaus/terraform-min-max@v2.1.0

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ steps.minMax.outputs.maxVersion }}

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Test
        run: terraform test
